
 .second{
     justify-content:flex-start;
 }
 .btnArrays{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 250px;
     padding: 0px;
 }
 .mybtn{
     width: 120px;
     color: #000000;
     font-size: 15px;
     padding: 15px;
     border-radius: 30px;
     border: 2px solid #000000;
     background: none;
     transition-duration: 0.6s;
 }
 
.red:hover{
  background: #ff0000;
  border: 2px solid red;
  color: #fff;
}






.go{
 border: none;
 padding: 15px;
 font-size: 15px;
 background: #ffbf48;
}
.in{
 padding: 15px;
 font-size: 15px;
 border: none;
}




.bger {
 margin: 0 auto;
/* The image used */
background-attachment: fixed;
/* Full height */
height: 50vh; 
/* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center; 

}

/*{
  background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
        color: #eeeeee;
        text-align: center;
        display: table;

}*/


.wrapper {
  /*height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;*/
 
}


.lined{
  background: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}


.box{
 padding: 30px;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: flex-start;
 backdrop-filter: blur(10px);
 height: 100vh;
 background: none;
}
.text{
line-height: 90%;
 width: 300px;
 font-weight: bolder;
 font-size: 50px;
 color: #000000;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
 //background: #a59d8f;

}
.box > div{
 max-width: 700px;
 margin-bottom: 10px;
}





/*------------------------------------*/
*{
  box-sizing: border-box;
}


html, body{
  padding: 0;
  margin: 0;
}

body{
  display: grid;
  grid-template-areas:"head head head"
                      "main main main" 
                      "footer footer footer";
  grid-template-rows: 60px 1fr auto;
  height: 100vh;
  width: 100%;
}

header{
  grid-area: head;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px #707070 !important;
}

main{
  width: 100%; /*-------caused a hella problem for me---------*/
  grid-area: main;
  max-width: 1000px;
  margin: 0 auto;
  /*margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
  
}
footer{
    width: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    /*padding: 5px;*/
    padding-top: 25px;
    height: auto;
}


  .foot > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    //height: 80%;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .foot{
    justify-content: center;
    align-content: center;
  }
  
  .socials{
    width: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 500px) {
    .foot > div{
      flex-direction: column;
      text-align: center;
    }
    .sec{
      margin-bottom:50px;
    }
    .sec > ul{
        text-align: center;
    }
    .sec > img{
      margin-bottom: 45px;
    }
    .socials{
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
    }
  }

  :root{
    --blue: #04036e !important;
    --yellow: #ffbf48;
    --white: #fdfdfd;
    --ltblue: #0a07b8;
}