

 
.resp{
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  /*border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;*/
}
.add{
  padding: 10px !important;
}
.topError > ul {
  list-style-type: none;
}
/*form{
  display: flex;
  flex-direction: column;
}*/




.link{
    text-decoration: none;
    color: #ffffff;
}
.blue{
    color: #04036e !important;
}

.customBtn{
    background: #5a5a5a !important;
    color: #fff !important;
}
.customBtn{
    background: var(--blue) !important;
}



*{
    box-sizing: border-box;
}


html, body{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-areas:"head head"
                        "main main" 
                        "footer footer";
    grid-template-rows: 60px 1fr ;
    height: 100vh;
    width: 100%;
}

header{
    grid-area: head;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 3px 3px 5px #707070 !important;
}

main{
    grid-area: main;
    max-width: 1000px;
    margin: 0 auto;
    /*margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    
}

.white{
    background: #ffffff;
    
}



:root{
    --blue: #04036e !important;
    --yellow: #ffbf48;
    --white: #fdfdfd;
    --ltblue: #0a07b8;
}


footer{
    width: 100%;
    grid-area: footer;
}


