{% extends 'base.html' %}

{% block content %}

<br/>
{% load static %}


<!--<div class="card mb-3" style="width: 90%; margin: 0 auto; height: 200px;">
    <div class="row g-0" style="height: 200px;">
      <div class="col-md-4" style="border: 2px dotted red;">
        <img src= "{% static 'images/shelfLogo.png' %}" style="height: 200px; width: 150px; border: 2px solid red;" class="img-fluid rounded-start" alt="Book image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
        
          <p class="card-text">{{ post.description }}</p>
          <button class="btn btn-primary btn-sm">preview</button>
          <button class="btn btn-secondary btn-sm"><a href="{% get_media_prefix %}{{ post.book.url }}" download>download</a></button>
          <button class="btn btn-primary btn-sm"><i class="bi bi-share"></i></button>
          <p class="card-text"><small class="text-muted">
            <i>- {{ post.uploaded_on }} | {{ post.uploaded_by }}</i></small></p>
        </div>
      </div>
    </div>
  </div>-->



  <title>{{book.book_name}}</title>



<div class="container">
    <br/><br/>
    <div class="card"style="padding: 20px">
     
      <img src= "{{ post.thumbnail.url }}" style="margin:0 auto; height: 250px; width: 200px; border: 2px solid #efefef;" class="img-fluid rounded-start" alt="Book image">

   
     <hr>
     <h2 class="text-center"> {{post.title}}</h2>
     <p class="lead">Author: {{post.Book_author}} </p>
     <!--<p class="lead">Type: {{type}} </p>-->
     <p class="lead"> {{post.description}} </p>
     <p class="lead">uploaded: {{post.uploaded_on}} | {{ post.uploaded_by }} </p>
     <div class="form-control">
     <a href="{{ post.file.url }}" target="_blank"><button class="btn" style="background: var(--blue); color: #fff;">preview</button></a>
     <a class="" href="{{ post.file.url }}" download><button class="btn" style="background: var(--yellow); color: #fff;">download</button></a>
     <button class="btn" disabled><!--<i class="bi bi-eye-fill"></i>-->{{ post.views }} views</span>   
     
     <div class="btn-group dropright">
          <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #000; color: #fff;">
            share
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <a>facebook</a>
            <br/>
            <a>twitter</a>
            <br/>
            <a>
          </div>
        </div>
        
    </div></div> 
  <br/>
  <br/>
  <form action="{% url 'home' %}" class="form-inline" method="get">
    <button type="submit" class="btn btn-primary btn-sm" style="background: #000; color: #fff;">Back</button>
  </form>
  <br/>
  <br/>
</div>

<script>
  /*function makeThumb(page) {
  // draw page to fit into 96x96 canvas
  var vp = page.getViewport(1);
  var canvas = document.createElement("canvas");
  canvas.width = canvas.height = 96;
  var scale = Math.min(canvas.width / vp.width, canvas.height / vp.height);
  return page.render({canvasContext: canvas.getContext("2d"), viewport: page.getViewport(scale)}).promise.then(function () {
    return canvas;
  });
}

pdfjsLib.getDocument({{ post.file.url }}).promise.then(function (doc) {
  var pages = []; while (pages.length < doc.numPages) pages.push(pages.length + 1);
  return Promise.all(pages.map(function (num) {
    // create a div for each page and build a small canvas for it
    var div = document.createElement("div");
    document.body.appendChild(div);
    return doc.getPage(num).then(makeThumb)
      .then(function (canvas) {
        div.appendChild(canvas);
    });
  }));
}).catch(console.error);*/
console.log("{{ post.file.url }}")
</script>


  {% endblock %}
  