{% extends 'base.html' %}

{% block head_title %}Password reset{% endblock head_title %}

{% block content %}
<div class="container add" style="margin: 0 auto">
  <div class="resp">
      <h2>Password reset</h2>
      <p>Enter thesame email connected to your shelf account.<br/>
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="input-group">   
          <input type="email" class="input" id="id_email" name="email" value='{{ form.email.value|default:"" }}' maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"> 
          <label class="user-label">Email</label>
        </div>

        <br/>
        <button type="submit" class="btn" style="background: var(--blue); color: #fff;">Reset Password</button>
      </form>
    </div>
  </div>


  <style>

    .input-group {
     position: relative;
     width: 100%;
    }
    
    .input {
      width: 100%;
     border: solid 1.5px #9e9e9e;
     background: none;
     padding: 1em;
     font-size: 15px;
     color: var(--blue);
     transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    }
    
    .user-label {
     position: absolute;
     left: 15px;
     color: #303030;
     pointer-events: none;
     transform: translateY(1rem);
     transition: 150ms cubic-bezier(0.4,0,0.2,1);
    }
    
    .input:focus, input:valid {
     outline: none;
     border: 1.5px solid var(--blue);
    }
    
    .input:focus ~ label, input:valid ~ label {
     transform: translateY(-50%) scale(0.8);
     background-color: #fff;
     padding: 0 .2em;
     color: var(--blue);
    }
    </style>
  



{% endblock content %}
